* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./Images/MORE\ MEAT.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

/* #list-container{
    float: right;
    margin-right: 50%;
    color: white;
}
#list-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
    
}

#list-container li{
    display: inline-block;
    margin-right: 30px;
   
}

#btn{
    margin-right: 0;
} */

/* Container holding the image and the text */

.container {
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  color: white;
  /* border-bottom: 2px solid white; */
}

.top-right {
  position: absolute;
  top: 50%;
  right: 20%;
}

#images {
  margin-left: 350px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  color: red;
}

.navbar-nav {
  margin-left: 10%;
}
/* 
.navbar-nav li {
  margin-right: 30px;
}

.navbar-nav li a {
  color: white;
  font-weight: bold;
  margin-top: 25px;
  transition: 0.5s ease;
}

.navbar-nav li a:hover {
  color: brown;
} */

.navbar-nav li {
  margin-right: 30px;
}

.navbar-nav li a {
  position: relative; /* Add this line */
  color: white;
  font-weight: bolder;
  margin-top: 25px;
  transition: 0.5s ease;
}
#nav-link1 {
  color: brown;
  text-decoration: none;
  margin-top: 25px;
}

.navbar-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust the value as needed */
  width: 100%;
  height: 2px;
  background-color: orangered;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav li a:hover {
  color: white;
}

.navbar-nav li a:hover::after {
  transform: scaleX(1);
}
button {
  margin-top: 25px;
  transition: 0.5s ease;
}

.btn.search-button:hover {
  background-color:darkred;
  color:white;
  transition: 0.4s ease;
}

.search-button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 160px;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 50px;
}

#container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container h1 {
  color: brown;
}

.rolling-container {
  /* width: 1120px; Set the desired width of the container */
  height: 100px; /* Set the desired height of the container */
  overflow: hidden;
}

.rolling-images {
  display: flex;
  animation: roll-images 15s infinite linear;
  height: 310px;
  width: 700px;
}

@keyframes roll-images {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
h1 {
  color: black;
  font-weight: bold;
}

#phone {
  margin-top: 35px;
  padding-left: 800px;
}

/* .wavy-container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 50% / 10px; /* Adjust the values as needed */
/* transform: rotate(8deg);
} */

.bi-apple {
  font-size: 30px;
}

.bi-google-play {
  font-size: 25px;
}

span {
  font-weight: bold;
  font-size: 18px;
}

/* .btn.btn-btn{
  background-color: darkgreen;
  transition: 0.5s ease;
}

.btn.btn-btn:hover {
  background-color: red;
} */

.btn.button{
 color: white;
 cursor: pointer;
 transition: 0.3s ease;
}

.btn.button:hover{
  background: darkred;
  transition: 0.3s ease;

}

.btn.only {
  background: darkgreen;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn.only:hover {
  background: white;
  color: black;
  transition: 0.3s ease;


}
